APP_ENV=development
NODE_ENV=development
APP_PORT=4000

POSTGRES_USER=prisma
POSTGRES_PASSWORD=topsecret
POSTGRES_DB=virtuo

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?schema=virtuo&sslmode=prefer

JWT_SECRET=YOUR_SECRET_KEY_HERE
JWT_TOKEN_AUDIENCE=localhost:3000
JWT_TOKEN_ISSUER=localhost:3000
JWT_ACCESS_TOKEN_TTL=3600
# 86400 represents 24h (1 day) in milliseconds
JWT_REFRESH_TOKEN_TTL=86400

DOC_TITLE=
DOC_DESCRIPTION=
DOC_VERSION=


MAIL_HOST=smtp.example.com
MAIL_USER=user@example.com
MAIL_PASSWORD=topsecret
MAIL_FROM=noreply@example.com


